# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/public/files
/public/aboutwebapp.txt
/Server/utilities/ffmpeg
/Server/utilities/constants/db_url.js
/src/constants/social_login_ids.js
/src/constants/server_access_token.js
/src/constants/api_url.js
/Server/utilities/secrets
/TestServer
/testserver.js
/webmusicapp.tar
/Server/Server.zip
/build-old-version
/build.zip
/zedbangers.zip
/build - previous state/
/Server/database/database.zip
/Server/Server-build-19-3-21.zip
/src/Store
/.gitgnore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
