.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* #bottom-space{
    min-height: 50px;
    margin-bottom: 50px;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bottom-nav .makeStyles-root-1{
  width: 100% !important;
  position: fixed !important;
  bottom: 0 !important;
}
.bottom-nav .MuiBottomNavigationAction-label{
  opacity: 10;
}

.bottom-nav .white-theme .makeStyles-root-1{
  background-color: #fff !important;
}

.bottom-nav .white-theme .MuiBottomNavigationAction-label .MuiSvgIcon-colorSecondary, .bottom-nav .white-theme .MuiBottomNavigationAction-label .MuiSvgIcon-root{
  background-color: grey !important;
}

.bottom-nav .black-theme .makeStyles-root-1{
  background-color: #66023c !important;
}

.bottom-nav .black-theme .MuiBottomNavigationAction-label .MuiSvgIcon-colorSecondary, .bottom-nav .white-theme .MuiBottomNavigationAction-label .MuiSvgIcon-root{
  background-color:white !important;
}
